<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="magneto_appnotification" frontName="magneto_appnotification">
            <module name="Magneto_AppNotification" />
        </route>
    </router>
</config>